.row
  .well
    %h2 Has, Have:
    %h4 We use "has" with singular nouns and pronouns:
    %h4 eg:A triangle has three sides.
    %h4 He has a new motorcycle.
    %h4 We use "have" with plural nouns and pronouns:
    %h4 All the rooms have windows in them.
    %h4 We have a good library.
    %h4 With I and you,we always use have:
    %h4 eg:I have a bright idea.
    %h4 You have a new bat. ( You for one boy)
    %h4 You have new bats. ( you for more than one boy)
.row
  %br
  %ul.pager
    %li
      = link_to "previous",  pronouns_pronoun2_path
    %li
      = link_to "next",  staticpages_adjectives_path
                                                    
