%html
  %form
    %p{:style => "font-family:arial;color:green;font-size:20px; text-decoration:underline;"} was, were:
    %h4
      %ol{:start => "1."}
        %li
          We use 
          %b was
          with singular nouns and pronouns:
          %br
          The book
          %b was 
          on the table.
          %br
          I 
          %b was
          sorry for my mistake.
          %br
          He 
          %b was
          very lucky.
      %ol{:start => "2."}
        %li
          We use 
          %b were
          with plural nouns and pronouns.
          %br
          The books
          %b were 
          on the table.
          %br
          we
          %b were
          neighbours at Agra.
          %br
          They
          %b were
          good speakers.
      %ol{:start => "3."}
        %li
          With you, we always use 
          %b were
          whether you stands for one person or
          %br
          more than one person.You
          %b were
          the headboy last year.
          %br
          ( you for one boy) You
          %b were
          late yesterday. ( you for more than one boy)
          %br
          %ul.pager
            .pull-left
              %li= link_to "previous",   pronouns_pronoun1_path
            .pull-right
              %li= link_to "next" ,  pronouns_pronoun3_path

