%html
  %body
    %form
      %p{:style => "font-family:arial;color:green;font-size:20px; text-decoration:underline;"} Has, Have:
      %br
        %h4
          %ol{:start => "1. "}
            %li
              We use
              %b has
              with singular nouns and pronouns:
              %br
                %br
                  %p
                    A triangle
                    %b has
                    three sides.
                    %br
                      %p
                        He
                        %b has
                        a new motorcycle.
                        %br
                          %br
                            %li
                              We use
                              %b have
                              with plural nouns and pronouns:
                              %br
                                %br
                                  %p
                                    All the rooms
                                    %b have
                                    windows in them.
                                    %br
                                      %p
                                        We
                                        %b have
                                        a good library.
                                        %br
                                          %br
                                            %li
                                              With I and you,we always use
                                              %b have:
                                              %br
                                                %br
                                                  %p
                                                    I
                                                    %b have
                                                    a bright idea.
                                                    %br
                                                      %p
                                                        You
                                                        %b have
                                                        a new bat. ( You for one boy)
                                                        %br
                                                          %p
                                                            You
                                                            %b have
                                                            new bats. ( you for more than one boy)
                                                            .pull-left
                                                              = link_to "previous",  pronouns_pronoun2_path, :class => "btn-primary btn"
                                                            .pull-right
                                                              = link_to "next", staticpages_adjectives_path, :class => "btn-primary btn"

  
