.well
  %h2 Is, are:
  %h4 We use is with singular nouns and pronouns.
  
  %h4 eg:The chair is old.
  %h4  The train is late.
  %h4  He is a postman.
  
  %h4 We use are with plural nouns and pronouns.
  %h4 eg:  These chairs are old.
  %h4   All the trains are late.
  %h4  They are students of this school.
  %b However, there are two important points to remember.
  %h4 I is also a singular pronoun. With  I  we use am.
  %h4 I am your friend. I am very hungry.
  %h4  With you, we always use are, whether you stands for one person or
  %h4  for more than one person: You are a student. ( You for one student)
  %h4  You are students. 
.row
  %br
  %ul.pager
    %li
      = link_to "previous",  pronouns_pronoun_path
    %li
      = link_to "next",  pronouns_pronoun2_path

