.menu-nav-bar
  %a{:href => "#"} EXERCISES
  #scroller.menu-content
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/staticpages/activity17"}
      %i.icon-star>
      Use of Articles 
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/staticpages/activity15"}
      %i.icon-star>
      Exercise of Articles
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/staticpages/capital_letters"}
      %i.icon-star>
      Capital Letters
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/staticpages/activity3"}
      %i.icon-star>
      Singular and Plural
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/staticpages/activity5"}
      %i.icon-star>
      Exercise
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/nouns/common_noun"}
      %i.icon-star>
      Common Noun
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/pronouns/pronoun"}
      %i.icon-star>
      Pronouns
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/pronouns/pronoun1"}
      %i.icon-star>
      About Is and Are
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/pronouns/pronoun2"}
      %i.icon-star>
      About Was and Were
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/pronouns/pronoun3"}
      %i.icon-star>
      About Has and Have
      %br
    %a.menu-link{"data-linktype" => "html", "data-target" => "module", "data-url" => "", :href => "/staticpages/adjectives"}
      %i.icon-star>
      Adjectives
      %br
%section#page.gpu.animate-ease-out
  %nav#page-nav-bar
//    %a#menu-left-slide{:href => "javascript:void(0);", :class => 'btn btn-default'} Activities 
//  %article#page-content.page-content
//    .main-content

/ / page
              
              
              
