= link_to image_tag(("eagle.jpg"), height: "100px",  width: "200px"  ) ,"/staticpages/activity7"
%br
= link_to image_tag(("mission.jpg"), height: "100px",  width: "200px"  ) ,"/staticpages/team"
%br
= link_to image_tag(("events.jpg"),  height: "100px",  width: "200px"  ) ,"/staticpages/events" 
%br
= link_to image_tag(("articles.jpg"), height: "100px",  width: "200px" ) ,"/staticpages/fame"
%br

