= link_to image_tag(("eag.jpg"), height: "120px",  width: "200px"  ) ,"/staticpages/activity7"
%br
= link_to image_tag(("10.jpg"), height: "120px",  width: "200px"  ) ,"/staticpages/team"
%br
= link_to image_tag(("70.jpg"),  height: "120px",  width: "200px"  ) ,"/staticpages/events" 
%br
= link_to image_tag(("50.jpg"), height: "120px",  width: "200px" ) ,"/staticpages/fame"
%br

