.row
  .col-sm-4
    .well
      %h3 ANANTHA LAXMI 
      %h5 FOUNDER OF I AM GIFTED
      = image_tag "m2.jpg" , :width => "300", :height => "350"
  .col-sm-6
    .well1
      %h2 CONTACT US:
    .well
      %h4 UDAAN is a Team of Volunteers from the Age Group of 16 to 65 from all walks of life 
      CALL US AT:
      %br
      PH : 9391233381
      %br
      PH : 9393809692
      %br
      Email: UDAANNGO11@YAHOO.COM
      %br
      udaanngo hyd -  FACE BOOK
      %br
      UDAAN VOL ORG - PAGE
