.row
  .container1
    .col-sm-2
      %br
      = image_tag "m3.jpg" , :width => "200", :height => "200" ,:ALIGN => "left", :BORDER => "1"
      
      %h3 Ananthalakshmi
      %h5 Founder of I AM GIFTED   
      
    .col-sm-5
      %h4
        %p{:align => "justify"}
          &nbsp At I AM GIFTED, we will make the foundation of English language very strong by covering the basics of English Grammar. A strong foundation is very  important for correct development of the language. &nbsp  Our teaching techniques will be activity and fun oriented so that the child learns while actually playing  games.
      %h4{:align => "justify"}
        Here, we teach them learn new words with ease and understand difficult sentences by exploring more information from various resources available. Your child will learn to listen and understand English in other accents also. He will be able to speak correct sentences and also learn to pick up his own mistakes.
      %h4{:align => "justify"}
        So what are you waiting for?? Come, Join this group and take a first step towards a confident, powerful tomorrow!!!!
    .col-sm-5
      #well9
        %h5 Class Timings Saturday&Sunday: 
        .row &nbsp  &nbsp  Morning : 10AM to 12AM 
        .row &nbsp  &nbsp Afternoon : 2PM to 4PM
        .row &nbsp  &nbsp Evening : 5PM to 7PM
        %h5 Contact Us At 
        .row &nbsp  &nbsp   8, Venkata Nivasam,
        .row &nbsp  &nbsp     Prakash Nagar, Begumpet,
        .row  &nbsp  &nbsp    Hyderbad-500016.
        .row  &nbsp  &nbsp  Ananthalakshmi - 9440049545
        %br
        %br
        %br
        %br
        %br
        %br
      

