%html
  %body
    %form
      .col-sm-4
        = image_tag("activity10.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:360px;width:350px")
      .col-sm-4
        %p{:style => "font-family:arial;color:green;font-size:20px;text-decoration:underline;"} Step9:
        %h4
          Using a glue stick, add glue to the flaps.
          .row
            %br
            %ul.pager
              %li
                = link_to "previous",  staticpages_activity9_path
              %li
                = link_to "next",  staticpages_activity11_path

          
