.well
  %center
    %h2 Capital Letters
  %h3 All  names  begin with capital letters.
  %h3 Read the names of the children and write them in alphabetical order.

= image_tag("capital.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:500px;width:400px")
     

          
