#well10
  .row
    .col-sm-8
      %center
        %h2 Singular  or  Plural
        %h4 Nouns which speak of one person , place or thing are said to be in the Singular Number.
        %h5 &nbsp e.g. Friend, King, dog, bench
        %h4 Nouns which speak of more than one person , place or thing are said to be in the Plural Number.
        %h5 &nbsp e.g Friends, Kings, dogs, benches
        %h4 Exceptions:
        #divstylebox
          %h4 piano    -   pianos, &nbsp photo	-photos
          %br
          %h4 radio    -   radios, &nbsp bamboo-bamboos
          %br
    .col-sm-4
      = link_to image_tag(("back.png"), height: "50px",  width: "50px"  ) ,"/staticpages/capital_letters"
      = link_to image_tag(("next.png"), height: "50px",  width: "50px"  ) ,"/staticpages/activity9"
      = link_to image_tag(("home.png"), height: "50px",  width: "50px"  ) ,"/staticpages/activity4"
     

          
