.row
  .col-sm-9
    %center
      %h1 UDAAN
    .row
      .col-sm-1
      .col-sm-11
        #well7
          %p{:align => "justify"}
            %h4  &nbsp  &nbsp  Try Ultimately Leads to Success But Success Can Never Happen Without Trying. Teach Children That Trying is Far More Important Than Succeding.
            %h4  That Is What We Are Doing. "UDAAN"
            %h4 We are adopting some schools which are under government and teaching them English Grammar for some period of time . 
        
            %h4 Here, we teach them learn new words with ease and understand difficult sentences by exploring more information from various resources available. Your child will learn to listen and understand English in other accents also. He will be able to speak correct sentences and also learn to pick up his own mistakes.
          
            %h4 So what are you waiting for?? Come, Join this group and take a first step towards a confident, powerful tomorrow!!!!

  .col-sm-2
    .pull-right
      %br
      %br
      %br
      = render 'staticpages/ngoservices'

    
 


    

  

