%html
  %body
    %form
      .col-sm-4
        = image_tag("activity.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:360px;width:350px")
        .row
          %br
          %ul.pager
            %li
              = link_to "previous",  staticpages_activity13_path
            %li 
              = link_to "next", '#'
