.well
  %center
    %h2 Nouns -Naming Words
  %h4 Look at the following sentences:
  %h4 1. The boy is jumping.
  %h4 The word boy is the name of a person.
  %h4 2. The dog is barking.
  %h4 The word dog is the name of an animal.
  %h4 3. That is a temple.
  %h4 The word temple is the name of a place.
  %h4 4. He has a bat.
  %h4 The word bat is the name of a thing.
  %h4 Boy, dog, temple and bat are naming words. Naming words are called nouns.
.well
  %h2 Exercise-1	
  %div{"ng-controller" => "MainController1"}
    .container
      %header
        %h2  Choose nouns from the following to add three more nouns to each column
        %section
          %div{:draggable => "true", "ng-repeat" => "drag_type in drag_types"} {{drag_type.name}}
    .container
      %header
        %h2 Drop Persons here
        %section{:droppable => "true" , :category => "animals"}
          %span You have dropped:
          %span{"ng-repeat" => "name in items" }
            %span{"ng-show" => "$index != 0"} ,
            {{name}}   
    .container
      %header
        %h2 Drop Things here
        %section{:droppable => "true", :category => "things"}
          %span You have dropped:
          %span{"ng-repeat" => "name in items"}
            %span{"ng-show" => "$index != 0"} ,
            {{name}} 
            
.row
  %br
  %ul.pager
    %li
      = link_to "previous",   staticpages_activity5_path
    %li
      = link_to "next" , nouns_common_noun_path
        

