%html
  %body
    %form
      .col-sm-4
        = image_tag("activity11.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:360px;width:350px")
      .col-sm-4
        %p{:style => "font-family:arial;color:green;font-size:20px;text-decoration:underline;"} Step10:
        %h4
          Bring together the flaps and create a cone shape. Hold them together with your hands or with a clip until they are firmly glued. You've now created the first petal of your daisy.
          .row
            %br
            %ul.pager
              %li
                = link_to "previous",  staticpages_activity10_path
              %li
                = link_to "next",  staticpages_activity12_path

         
