%html
  %body
    %form
      .col-sm-4
        = image_tag("activity9.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:360px;width:350px")
      .col-sm-4
        %p{:style => "font-family:arial;color:green;font-size:20px;text-decoration:underline;"} Step8:
        %h4
          Fold the triangles over and upwards again. Now you're ready to glue.
          .row
            %br
            %ul.pager
              %li
                = link_to "previous",  staticpages_activity8_path
              %li
                = link_to "next",  staticpages_activity10_path

          
