.row
  .well
    %h1 Use Of Articles A and An
    %h4 Words that begin with a consonant sound take a before them.
    %h3 e.g. a book, a chair, a table, a flower
  
    %h4 Words that begin with a vowel sound take an before them.
    %h3 e.g an apple, an egg, an inkpot, an umbrella, an orange\
.row`
%br
%ul.pager
  %li
    = link_to "next",  staticpages_activity15_path
  %li
    = link_to "back", staticpages_activity4_path
