%html
  %body
    %form
      .col-sm-4
        = image_tag("activity7.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:360px;width:350px")
      .col-sm-4
        %p{:style => "font-family:arial;color:green;font-size:20px;text-decoration:underline;"} Step6:
        %h4
          This time, fold the two small triangles inwards.
          .row
            %br
            .pull-left
              = link_to "previous", staticpages_activity6_path, :class => "btn-primary btn"
            .pull-right
              = link_to "next", staticpages_activity8_path, :class => "btn-primary btn"
