#well10 
  .row
    .col-sm-8
      %h3 Some nouns remain the same in Singular & Plural:
      %h5 &nbsp rice &nbsp hair &nbsp news &nbsp sugar &nbsp grass	 
      %h5 &nbsp fish &nbsp  sheep &nbsp gold &nbsp series 
      %br
      %h3 Some nouns are always plural.
      %h5 &nbsp trousers &nbsp shorts &nbsp jeans &nbsp pants &nbsp pyjamas	 
      %h5 &nbsp spectacles &nbsp  glasses &nbsp scissors &nbsp tongs
      %br
      %h3 Some nouns are usually plural.
      %h5 &nbsp shoes  &nbsp sandals  &nbsp  boots   &nbsp  chopsticks	 
      %h5 &nbsp gloves  &nbsp clogs &nbsp  stocks
    .col-sm-4
      = link_to image_tag(("back.png"), height: "50px",  width: "50px"  ) ,"/staticpages/activity3"
      = link_to image_tag(("next.png"), height: "50px",  width: "50px"  ) ,"/staticpages/activity10"
      = link_to image_tag(("home.png"), height: "50px",  width: "50px"  ) ,"/staticpages/activity4"
     
            
          
