.row
  .well
    %h2 Adjectives:
    %h4 Adjectives are describing words.
    %h4 eg: Gopi is an old man.(The word old tells us what kind of man Gopi is. It describes Gopi.)
    %h4 This is a black dog.(The word black describes the dog.)
    %h4 Gita has three pencils.(The word three tells us how many pencils Gita has.)
    %h4 Old, black, and three are describing words and are called adjectives
.row
  %br
  %ul.pager
    %li
      = link_to "previous",  pronouns_pronoun3_path                                      
