%html
  %body
    %p{:style => "font-family:arial;color:green;font-size:20px; text-decoration:underline;"} Alphabet:
    %h4 The big and small letters have all got mixed up in the bag. Write them in the correct order in the correct bag.
    = image_tag("alphabet.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:360px;width:350px")
    %br
    %ul.pager
      .pull-left
        %li
          = link_to "previous", '#'
      .pull-right
        %li
          = link_to "next" ,staticpages_vowel_path

          
