%html
  %body
    %form
      .col-sm-5
        %p{:style => "font-family:arial;color:green;font-size:30px;text-decoration:underline;"} Articles.
        %br
        %p
          %h4
            The words
            %b a
            and
            %b an
            signal that a noun is coming up.
            %br
            %br
            %p for e.g. a red ball
            %br
            %p
              %b a
              and
              %b an
              point to only one indefinite thing.
              %br
              %br
      .col-sm-4
        = image_tag("article.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:330px;width:320px")
        .pull-left
          = link_to "previous",  staticpages_adjimage_path, :class => "btn-primary btn"
        .pull-right
          = link_to "next",   staticpages_verb_path, :class => "btn-primary btn"


