.row
  .col-sm-11
    %h3 Teaching Classes:
  .col-sm-1
    = link_to "Back", staticpages_ngoservices_path, :class => "btn btn-warning"
.row
  .col-sm-12
    .well
      %h4 1) What is your child doing on weekends?
      %h4 We invite you to engage your children in a world-class learning experience on weekends. We will teach your child the best ways of using the important skills of communication LISTENING- READING- WRITTING- SPEAKING. Our English classes will be an integrated coaching for all the four skills essential for effective communication in English.
      %h4 2)Why learn English, when already taught in schools??
      %h4 We will make the foundation of English Language very strong by covering the basics of English grammar, a strong foundation is very important for correct development of the language. Our teaching techniques will be activity and fun oriented so that the child learns while actually playing games. School teaching is more focused on completion of the syllabus, not understanding of the child.
      %h4 3)What will we teach?
      %h4 We will teach them learn new words with ease and understand difficult sentences by exploring more information from various resources available. Your child will learn to listen and understand English is other accents also. Your child will be able to write in more structured format than before. He would be able to speak correct sentences and also learn to pick up his own mistakes.
      %h4 4)What will be the teaching method?
      %h4 Worksheets will be given and they will work independently. It will be an interactive method.
      %h4 5)Who can take join this course?
      %h4 Children studying from Grade 1 to Grade 10 can participate. Course is designed separately for all age groups.
      %h4 6)What will be the Class timing?
      %h4 Saturday: Morning 10 am to 12 am; Afternoon 2 PM to 4 PM & Evening 5 PM to & 7 PM.
      %h4 Sunday  : Morning 10 am to 12 am; Afternoon 2 PM to 4 PM & Evening 5 PM to & 7 PM.
      %h4 (Limited students per class, for defined attention to each child)
      %h4 7) Where are the classes held?
      %h4 8, Venkata Nivasam, Prakash Nagar, Begumpet, Near Prakash Nagar PO, Hyderbad-500016
      %h4 Contact :	Ananthalakshmi - 9440049545
.row
  .col-sm-11
    %h3 Board Of Educations:
.row
  .col-sm-12
    .well
      %h4 Students from the following schools will participate in our program:
      %h4 Oakridge International School
      %h4 Harvard/Howard Public School
      %h4 Praganya Montessori School
      %h4 Holy Mother High School 
      %h4 St. George Grammar High School
      %h4 Euro Kids
      %h4 Oyster Play School and Montessorie
      %h4 Kendriya Vidyalaya
      %h4 Eton Temple Convent School
      %h4 Millat Model School
      %h4 Johnson Grammar School


  
