.row
  .col-sm-1
  .col-sm-11
    #well8
      %br
      %br
      %h3 Schools:
      %h4 Students from the following schools, participate in our program:
      %h4.icon-star Oakridge International School
      %h4.icon-star Harvard/Howard Public School
      %h4.icon-star Praganya Montessori School
      %h4.icon-star Holy Mother High School 
      %h4.icon-star St. George Grammar High School
      %h4.icon-star Euro Kids
      %h4.icon-star Oyster Play School and Montessorie
      %h4.icon-star Kendriya Vidyalaya
      %h4.icon-star Eton Temple Convent School
      %h4.icon-star Millat Model School
      %h4.icon-star Johnson Grammar School


  
