%html
  %body
    %form
      %h2 Capital Letters:
      %h4 All  names  begin with capital letters.
      %h4 Read the names of the children in alphabetical order.
      = image_tag("capital.jpg", :alt => "rss feed", :class => "img-rounded" , :style => "height:450px;width:450px")
      %ul.pager
        %li= link_to "previous",   staticpages_activity16_path
        %li= link_to "next" ,staticpages_activity3_path
