.row
  .col-sm-11
    %h3 Books Distribution:
  .col-sm-1
    = link_to "Back", staticpages_ngoservices_path, :class => "btn btn-warning"
.row
  .col-sm-12
    .well
      %h4 Book distribution by a friend Sanju Giria at Mudfort Govt. school – July 11, 2013 
      %h4 Books distributed at  Paradise Government School - August 23 2013 
      %h4 Books distributed at Gati Govt.  School - Banjara Hills - September 2013 .
.row
  %h3 SPORTS, SOCKS AND SHOE CAMPAIGN:
.row
  .col-sm-12
    .well
      %h4 Distributed 805 Pairs between all schools adopted by Udaan.
      %h4 On 13th and 14th Feb different sports equipments were donated in Ramkote and Paradise govt. School. Courtesy Vidya and her friends - Sanju , Indu , Shweta , Anju and Archana. 
      %h4 350 pencil pouches were also donated by Sanju Giria. 
