.row
  .col-sm-9
    .row
      %center
        %h1  Adopted Schools
    .row
      .col-sm-1
      .col-sm-11
        %br
        #well7
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
                    Adopted Schools:
              #collapseSix.panel-collapse.collapse
                .panel-body
                  %h5 1.PARADISE
                  %h5 2.KOMPALLY
                  %h5 3.RAMKOTE
                  %h5 4.MUDFORT
                  %h5 5.BANJARAHILLS
                  %h2 ADOPTED STUDENTS:
                  %h5 Students covered in  2011-2012 - 897
                  %h5 Students covered in  2013-2014 - 1418
                  %h5 Total number of students covered - 2315
   
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                    Events of UDDAN in 2013-14:
              #collapseOne.panel-collapse.collapse
                .panel-body
                  %h5.icon-circle-arrow-right Workshop by Charu Shah (Udaan) for Arhat Touch “ How to succeed in the business of life" - March 30, 2013
                  %h5.icon-circle-arrow-right Workshop on Reading and Listening skills for Udaan members by Laxmi ma’am - April 8,2013
                  %h5.icon-circle-arrow-right Udaan tie up with Arhat Touch - a workshop done by kids of Arhat Touch (Org. which imparts Jain philosophies) on computer education @ govt. School paradise – June 22,2013.
                  %h5.icon-circle-arrow-right Workshop conducted for 3 days  by ART OF LIVING at Govt. High School , Ramkote. 120 students from class 6th to 10th attended the workshop. 
                  %h5.icon-circle-arrow-right NOVEMBER - a mini workshop on GAMES AND BROADER OUTLINE OF “HOW TO CONDUCT CLASSES “, designed and framed by our team members KALPA and HETA.
       
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                    Events of UDDAN in 2012-13:
                #collapseTwo.panel-collapse.collapse
                  .panel-body
                    %h5.icon-circle-arrow-right Diabetes awareness program conducted by  Hyderabad Charitable Hospital Trust with support from  Dr. Reddy’s  lab 7 Feb 2013@ Govt. School Ramkote.
                    %h5.icon-circle-arrow-right Workshops given by Laxmi ma’am 
                    %h5 16 July 2012 – Workshop for our team members.
                    %h5  5 Jan 2013 – Workshop for Junior Jaycees Banjara

            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                    Events of UDDAN in 2011-12:
              #collapseThree.panel-collapse.collapse
                .panel-body
                  %h5.icon-circle-arrow-right Ladies batch for SPOKEN ENGLISH (20 ladies and 2 gentlemen) June - Dec 2011 (6 months)
                  %h5.icon-circle-arrow-right  2nd Aug 2011 to 29th Feb  2012 – classes for kids at  Bandimet Govt. School.
                  %h5.icon-circle-arrow-right Adopted 4 schools at Begumpet, Marredpally, Ramkote and  Banjara hills educating 
                  %h5.icon-circle-arrow-right Sponsored 196 students of Govt. School for Basic, Advanced and DTP Computer courses from 2011-2012.
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                    Books Distribution:
              #collapseFour.panel-collapse.collapse
                .panel-body
                  %h5.icon-circle-arrow-right Book distribution by a friend Sanju Giria at Mudfort Govt. school – July 11, 2013 
                  %h5.icon-circle-arrow-right Books distributed at  Paradise Government School - August 23 2013 
                  %h5.icon-circle-arrow-right Books distributed at Gati Govt.  School - Banjara Hills - September 2013 .
                
                
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
                    Sports and  Shoe Campaign:
              #collapseFive.panel-collapse.collapse
                .panel-body
                  %h5.icon-circle-arrow-right Distributed 805 Pairs between all schools adopted by Udaan.
                  %h5.icon-circle-arrow-right On 13th and 14th Feb different sports equipments were donated in Ramkote and Paradise govt. School. Courtesy Vidya and her friends - Sanju , Indu , Shweta , Anju and Archana. 
                  %h5.icon-circle-arrow-right 350 pencil pouches were also donated by Sanju Giria. 

  .col-sm-2
    .pull-right
      %br
      %br
      %br
      %br
      %br
      = render 'staticpages/ngoservices'


    

