.row
  .col-sm-11
    %h3 Events of UDDAN in 2013-14:
  .col-sm-1
    = link_to "Back", staticpages_ngoservices_path, :class => "btn btn-warning"
  
.row
  .col-sm-12
    .well
      %h4 Workshop by Charu Shah (Udaan) for Arhat Touch “ How to succeed in the business of life" - March 30, 2013
      %h4 Workshop on Reading and Listening skills for Udaan members by Laxmi ma’am - April 8,2013
      %h4 Udaan tie up with Arhat Touch - a workshop done by kids of Arhat Touch (Org. which imparts Jain philosophies) on computer education @ govt. School paradise – June 22,2013.
      %h4 Workshop conducted for 3 days  by ART OF LIVING at Govt. High School , Ramkote. 120 students from class 6th to 10th attended the workshop. 
      %h4 NOVEMBER - a mini workshop on GAMES AND BROADER OUTLINE OF “HOW TO CONDUCT CLASSES “, designed and framed by our team members KALPA and HETA.
.row
  %h3 Events of UDDAN in 2012-13:
.row
  .col-sm-12
    .well
      %h4 Diabetes awareness program conducted by  Hyderabad Charitable Hospital Trust with support from  Dr. Reddy’s  lab 7 Feb 2013@ Govt. School Ramkote.
      %h4 Workshops given by Laxmi ma’am 
      %h4 16 July 2012 – Workshop for our team members.
      %h4  5 Jan 2013 – Workshop for Junior Jaycees Banjara
.row
  %h3 Events of UDDAN in 2011-12:
.row
  .col-sm-12
    .well
      %h4 Ladies batch for SPOKEN ENGLISH (20 ladies and 2 gentlemen) June - Dec 2011 (6 months)
      %h4  2nd Aug 2011 to 29th Feb  2012 – classes for kids at  Bandimet Govt. School.
      %h4 Adopted 4 schools at Begumpet, Marredpally, Ramkote and  Banjara hills educating 
      %h4 Sponsored 196 students of Govt. School for Basic, Advanced and DTP Computer courses from 2011-2012.
