.row
  .col-sm-9
    %center
      %h3  UDAAN Article in sakshi paper on August 23, 2013
    .row
      .col-sm-1
      .col-sm-11
        #well7
          %center
            =  image_tag"60.jpg", height: "330",  width: "320"
        
  .col-sm-2
    .pull-right
      %br
      %br
      %br
      = render 'staticpages/ngoservices'

      


    

    
  


    
