.row
  .col-sm-9
    .row
      %center
        %h3  UDAAN Article in sakshi paper on August 23, 2013
    .row
      .col-sm-1
      .col-sm-11
        %br
        #well7
          
          %center
            =  image_tag"60.jpg", height: "400",  width: "350"
        
  .col-sm-2
    .pull-right
      %br
      %br
      %br
      %br
      %br
      = render 'staticpages/ngoservices'

      


    

    
  


    
