%html
  %body
    %center
      %h1.italic I AM GIFTED
      .container-fluid 
        #custom_carousel.carousel.slide{"data-interval" => "2500", "data-ride" => "carousel"} 
          .carousel-inner 
            .item.active
              .container-fluid 
                .row 
                  .col-md-3 
                  = image_tag "11.jpg", :width => "1000", :height => "250" 
               
            .item
              .container-fluid 
                .row 
                  .col-md-3 
                    = image_tag "12.jpg", :width => "1000", :height => "250" 
            .item 
              .container-fluid 
                .row 
                  .col-md-3 
                    = image_tag "13.jpg", :width => "1000", :height => "250" 
            .item 
              .container-fluid 
                .row 
                  .col-md-3 
                    = image_tag "14.jpg", :width => "1000", :height => "250" 
          
     
     
        
                                 
