%div{"ng-controller" => "MainController"}
  .container
    %header
      %h1 LETTERS
    %section
      %div{:draggable => "true", "ng-repeat" => "drag_type in drag_types"} {{drag_type.name}} 
  .container
    %header
      %h1 Drop Capitals Here
    %section{:droppable => "true"}
      %span You have dropped:
      %span{"ng-repeat" => "name in items"}
        %span{"ng-show" => "$index != 0"} ,
        {{name}}

  .row
    %br
    %ul.pager
      %li
        = link_to "previous",  staticpages_activity3_path
      %li
        = link_to "next",  staticpages_activity1_path
     









  
