%div{"ng-app" => "myapp", "ng-controller" => "MainController"}
  .container
    %header
      %h1 Draggables
    %section
      %div{:draggable => "true", "ng-repeat" => "drag_type in drag_types"} {{drag_type.name}}
  .container
    %header
      %h1 Drop Schtuff Here
    %section{:droppable => "true"}
      %div
        %span You dragged in:
        %span{"ng-repeat" => "name in items"}
          %span{"ng-show" => "$index != 0"} ,
          {{name}}
