%html
  %body
    %form
      %ol{:type => "B"}
        %h4
          %b  A question mark
          %br
          %br
          %p is used at the end of a sentence that is a direct question. It might 
          be helpful to point out the question indicators who, when, where,
          %br
          why, what & how.
          %br
          %b what is the time?
          %br
          I asked her what time it was.
      %ol{:type => "C"}
        %h4
          %b An exclamation mark
          %br
          %br
          %p used at the end of a sentence that expresses a strong emotion. 
          %br
          e.g&nbsp&nbsp	Wow!&nbsp&nbsp	Ouch!&nbsp&nbsp	Well done!
          %br
          %ul.pager
            .pull-left
              %li= link_to "previous", staticpages_punctuation1_path
            .pull-right
              %li= link_to "next" ,  staticpages_punctuation3_path




