.row
  .col-sm-11
    %h1  OUR MISSION
  .col-sm-1
    = link_to "Back", staticpages_ngoservices_path, :class => "btn btn-warning"
.row
  .col-sm-12
    .well
      %h4 Touching lives through english language ,which is an UDDAN initiative.
      %h4 To impart education to the unprevaliged students of government schools, colleges, orphanages
      %h4 To build a strong team of facilitators and volenteers
      %h4 To develop english language skills , computer skills for better communication
      %h4 Conducting workshops to develop inter personal and intra personal skills to the team members
      %h4 Career councelling and enhancing employ ability of the students
      %h4 Our volenteers are a team of proffesionals and homemakers
      %h4 Everybody is welcome to join UDDAN volentary organatin between age 16-60 
