.player
  .mediaplayer
    %video{:controls => "", :poster => "http://corrupt-system.de/assets/media/sintel/sintel-trailer.jpg", :preload => "none"}
      %source{:src => "/videos/ramkoti.mp4", :type => "video/mp4"}
      %source{:src => "/videos/ramkoti.mp4", :type => "video/webm"}
 
