.row
  .col-sm-11
    %h3 DETAILS OF THE ORGANISATIONS:
  .col-sm-1
    = link_to "Back", staticpages_ngoservices_path, :class => "btn btn-warning"
.row
  .well1
    %h3  Adopted Schools:
.row
  .col-sm-12
    .well
      %h4 1.PARADISE
      %br
      %h4 2.KOMPALLY
      %br
      %h4 3.RAMKOTE
      %br
      %h4 4.MUDFORT
      %br
      %h4 5.BANJARAHILLS
.row
  .well1
    %h3 Students Covered:
.row
  .col-sm-12
    .well
      %h4 Students covered in  2011-2012 - 897
      %h4 Students covered in  2013-2014 - 1418
      %h4 Total number of students covered - 2315
   
     
