%html
  %body
    %form
      %p{:style => "font-family:arial;color:green;font-size:30px;text-decoration:underline;"} Verbs:
      %h4
        %ol{:type => "A"}
          %li
            %p
              %b
                %h3 Doing words:
                %br
        %ol{:start => "1. "}
          %li
            The peon
            %b rings 
            the bell.
            %br
          %li
            Anil
            %b kicked
            the ball.
            %br
          %li
            This shopkeeper
            %b sells
            books.
            %br
          %p
            Words  like rings, kicked and sells express actions. They are doing words. They tell what persons or things do.
            %p
              Doing words are called
              %b verbs.
              %li
                %p
                  %b
                    %h3 To denote being:
                    %br
                    %p
                      %h4
                        The word is does not tell what the servant does. So it is not a doing word.But it helps to say what the servant is.
                        %p
                          There are other words also which helps us to say or assert what a person or thing is.These words are also called
                          %b verbs.
                          %br
                          %br
                          %p
                            Is, are, am, was, were, will be, shall be are important verbs of this kind.These verbs often have an adjective after them:
                            %br
                            %br
                            %p
                              The king was kind.
                              %h1 &nbsp&nbsp&nbsp⇩&nbsp&nbsp&nbsp&nbsp&nbsp⇩
                              %p
                                %table{:border => "1", :style => "width:80px;float: left"}
                                  \&nbsp&nbsp
                                  %tr
                                    %td verb
                                    %table{:border => "1", :cellspacing => "10", :style => "width:85px;float: left"}
                                      %tr
                                        %td adjective
                                    .row
                                      %ul.pager
                                        .pull-left
                                          %li= link_to "previous",  staticpages_article_path
                                        .pull-right
                                          %li= link_to "next" ,  staticpages_verb1_path


  


