%html
  %body
    %form
      %p{:style => "font-family:arial;color:green;font-size:25px;text-decoration:underline;"} Verbs – to show belonging / possession:
      %ol{:start => "1. "}
        %h4
          %li
            The elephant
            %b has 
            a trunk.
            %br
            The word has shows what belongs to the elephant.
      %ol{:start => "2. "}
        %h4
          %li
            They
            %b have 
            a new car.
            %br
            The word have shows what belongs to them.
            %br
            Words like has, have and had that denote belonging are also called verbs.
            %br
            %br
            %p
              *
              %font{:color => "red"}
                A verb is used to say or assert something about a person or thing. It
                %br
                says what a person or thing does, what a person or thing is, or what a
                %br
                person or thing has.
                .pull-left
                  = link_to "previous",  staticpages_verb_path, :class => "btn-primary btn"
                .pull-right
                  = link_to "next",   staticpages_verbimage_path, :class => "btn-primary btn"

              
                
                                                
                          


      
