%html
  %body
    %form
      .well
        %h2 Common Nouns:
        %h4
          %p Common nouns name the everyday things around us. A common noun names any person, place or thing.
          e.g: cup, horse, tree, arm, cheese, book, pencil, car, rabbit, computer
          %h2 Proper Nouns:
          %h4
            &nbsp Proper nouns are names of 
            specific people, places 
            and things.
            %br
            %br
          %h4
            &nbsp Proper nouns always begin
            with a capital letter.
            .row
              %br
              %ul.pager
                %li
                  = link_to "previous",   staticpages_activity5_path
                %li
                  = link_to "next" , pronouns_pronoun_path
                  
                  
