%html
  %body
    %form
      %p{:style => "font-family:arial;color:green;font-size:20px;"} Nouns  -	Naming Words:
      %h4
        %ol{:start => "1."}
          %li
            The
            %mark boy
            is jumping.
            %h4 The word boy is the name of a person.
      %h4
        %ol{:start => "2."}
          %li
            The
            %mark dog
            is barking.
            %h4 The word dog is the name of an animal.
      %h4
        %ol{:start => "3."}
          %li
            That is a
            %mark temple
            %h4 The word temple is the name of a place.
      %h4
        %ol{:start => "4."}
          %li
            he has a
            %mark bat
            %h4 The word bat is the name of a thing.
            %mark Boy, dog, temple and bat are naming words. Naming words are called nouns.
            .row
              %br
              .pull-left
                = link_to "previous",  staticpages_consonants_path, :class => "btn-primary btn"
              .pull-right
                = link_to "next", nouns_noun_exercise_path, :class => "btn-primary btn"
        


