<html>
%body
  #form-left2
    %p
      %h1
        %b
          %u
            %center Nouns-Naming Words
      %br
        %p
          %b Look at the following sentences:
          %br
            %br
              %br
                %h4
                  %ol{:start => "1."}
                    %li
                      The
                      %b boy
                      is jumping.
                      %p
                        The word boy is the name of a person.
                        %br
                          %li
                            The
                            %b dog
                            is barking.
                            %p
                              The word dog is the name of an animal.
                              %br
                                %li
                                  That is a
                                  = succeed "." do
                                    %b temple
                                  %p
                                    The word temple is the name of a place.
                                    %br
                                      %li
                                        He has a
                                        = succeed "." do
                                          %b bat
                                        %p
                                          The word bat is the name of a thing.
                                          %br
                                            %br
                                              %br
                                                %br
                                                  %br
                                                    %p
                                                      Boy,dog,temple and bat are naming words.Naming words are called
                                                      = link_to "prevoius",  staticpages_alphabet_path
