%p{:style => "font-family:arial;color:green;font-size:20px; text-decoration:underline;"} Exercise-3:
%p{:style => "font-family:arial;color:green;font-size:20px; text-decoration:underline;"} Circle all the proper nouns:
%ol
  %h4
    %li We are going to Jaipur.
    %li My birthday was on the last Saturday in March.
    %li Last  Christmas, we went to New Zealand for a holiday.
    %li David bought a pair of shoes from Bata.
    %li Rohan plays cricket in England.
%p{:style => "font-family:arial;color:green;font-size:20px; text-decoration:underline;"} Give each proper noun a big red capital letter:
%ol
  %h4
    %li Many people visit the red fort.
    %li Jack’s favourite book character is Clifford.
    %li shymal left his home in india to live in australia.
    %li My aunt’s house is near the river ganga.

%p{:style => "font-family:arial;color:green;font-size:20px; text-decoration:underline;"} Exercise-4:
%p{:style => "font-family:arial;color:green;font-size:20px; text-decoration:underline;"} Write down the names of the following:
#divstylebox
  .col-sm-6
    %h4
      %li Your teacher	
      %li Your country
      %li Your principal
      %li Your best friend
      %li Your village	
  .col-sm-6
    %h4
      %li Your school	
      %li Your road
      %li Your dog	
      %li big river
      %li This month
.pull-left
  = link_to "previous",   nouns_common_noun_path, :class => "btn-primary btn"
.pull-right
  = link_to "next",staticpages_capital_letters_path, :class => "btn-primary btn"
        




