%html
  %body
    %form
      .container
        .row
          #form-left.part
            = render "form"
            #form-midle.part
              %embed{:controls => "controls", :height => "100%", :src => "https://www.youtube.com/v/M7lc1UVf-VE?version=3", :type => "application/x-shockwave-flash", :width => "100%"}
              #form-right.part
                %marquee{:behavior => "scroll", :direction => "up", :height => "170", :scrollamount => "1"}
                  %p Hello..
                  %p Welcome to I Am Gifted
