.container
  .row
    .col-md-12
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      .carousel-inner
        .item.active
          %img{alt: "First slide", src: "http://placehold.it/1200x500/3498db/2980b9"}/
          .carousel-caption
            %h3
              First slide
              %p
                Nulla vitae elit libero, a pharetra augue mollis interdum.
        .item
          %img{alt: "Second slide", src: "http://placehold.it/1200x500/9b59b6/8e44ad"}/
          .carousel-caption
            %h3
              Second slide
              %p
                Nulla vitae elit libero, a pharetra augue mollis interdum.
        .item
          %img{alt: "Third slide", src: "http://placehold.it/1200x500/34495e/2c3e50"}/
          .carousel-caption
            %h3
            Third slide
            %p
              Nulla vitae elit libero, a pharetra augue mollis interdum.
        %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
          %span.glyphicon.glyphicon-chevron-right
      .main-text.hidden-xs
        .col-md-12.text-center
          %h1
            Static Headline And Content
          %h3
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %div
            %a.btn.btn-clear.btn-sm.btn-min-block{href: "http://www.jquery2dotnet.com/"} Login
            %a.btn.btn-clear.btn-sm.btn-min-block{href: "http://www.jquery2dotnet.com/"} Registration
#push
