.component
  / Start Nav Structure
  %button#cn-button.cn-button Menu
  #cn-wrapper.cn-wrapper
    %ul
      %li
        %a{href: "/staticpages/activity7"}
          %span.icon-picture
      %li
        %a{href: "/staticpages/activity4"}
          %span.icon-headphones
      %li
        %a{href: "/staticpages/home"}
          %span.icon-home
      %li
        %a{href: "/staticpages/boardofeducation"}
          %span.icon-facetime-video
      %li
        %a{href: "/staticpages/aboutus"}
          %span.icon-envelope-alt
  #cn-overlay.cn-overlay
  / End Nav Structure
